@charset "utf-8";
body {
	margin-bottom: 0.625em;
	margin-left: 0.625em;
	margin-right: 0.625em;
}
table {
	border-collapse: collapse;
}
table tr.bug {
	font-weight: bold;
}
table tr.started {
	background-color: #00FF00;
}
table tr td {
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 0.232259ex;
	border-left-color: #000000;
	border-left-style: solid;
	border-left-width: 0.1em;
	border-right-color: #000000;
	border-right-style: solid;
	border-right-width: 0.1em;
	border-top-color: #000000;
	border-top-style: solid;
	border-top-width: 0.232259ex;
	padding-bottom: 1ex;
	padding-left: 0.43056em;
	padding-right: 0.43056em;
	padding-top: 1ex;
}
table tr td.rejected {
	background-color: #FF0000;
}

